<section id="meme" class="d-flex justify-content-around flex-wrap mt-3"> 
    {{#if posts.length}}
    {{!-- Blank --}}
    {{else}}
    <span>No posts to show</span>
    {{/if}} 

    <section class="d-flex justify-content-around flex-wrap">                    
        <div class="row">                
            <div class="col-12 mx-4">
                {{#each posts as |post|}}
                    {{#if post.column1}} 
                        {{> dashboard-meme post}}
                    {{/if}}
                {{/each}}
            </div>                
        </div>
        
        <div class="row">                
            <div class="col-12">
                {{#each posts as |post|}}
                    {{#if post.column2}} 
                        {{> dashboard-meme post}}
                    {{/if}}
                {{/each}}
            </div>                
        </div>
    </section> 
</section>       
        
<div class="modal fade" id="add-comments" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" id="add-comment-form">
                <div class="modal-body">
                    <input type="textbox" name="comment-text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">submit</button>
                </div>
            </form>    
        </div>
    </div>
</div> 


<script src="/js/vote.js"></script>
<script src="/js/comment.js"></script>