<form action="" id="signup-form" class="mt-3">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <h2 class="text-dark">Signup</h2><br>
                <label for="user-username">Username</label>
                <input type="text" class="form-control" id="user-username" aria-describedby="usernameHelp">                        
                </div>
                <div class="form-group">
                <label for="user-password">Password</label>
                <input type="password" class="form-control" id="user-password">
                <small id="login-redirection" class="form-text text-muted">Already a member? <a href="/login">Login</a></small>
                </div>                      
                <button type="submit" class="btn btn-dark">Signup</button>
            </div>
        </div>
    </div>
</form>

<script src="/js/signup.js"></script>